extends edit_template

block workspace
  .container
    .search-box#search-results
      include ../search_results

    .full#element

      form(name='job', method='post', action='/api/jobs/#{doc._id}')
        input(type='hidden', name='_id', value=doc._id)
        label(for='job-name-input') Name
        br
        input#job-name-input(name='name', type='text', value=doc.name)
        br
        label(for='job-shortname-input') Short name (used for url)
        br
        input#job-shortname-input(name='shortname', type='text', value=doc.shortname)
        br
        label(for='job-description-textarea') Description
        br
        textarea#job-description-textarea(name='description')=doc.description
        br
        button(type='submit') Submit
