.search-box#search-results
  if queryResult
    each result in queryResult
      .search-result
        .description #{result.description}
        //.price List Price: #{result.list_price}
        //.price NYS Price: #{result.nysprice}
        form(name='add-component', method='post', action='/api/jobs/#{job._id}/components')
          input(type='hidden', name='part', value=result.version_id)
          label Name
          input(type='text', name='name', value=result.description)
          br
          label Phase
          select(name='phase', type='text')
            each phase in phases
              option(value=phase._id)=phase.name
          br
          label Building
          select(name='building', type='text')
            each building in buildings
              option(value=building._id)=building.name
          br
          button(type='submit') Add

  if options && (options.phaseEnabled == null || options.phaseEnabled)
    .search-result
      h3 New Phase
      form(name='new-phase', method='post', action='/api/jobs/#{job._id}/phases')
        label(for='new-phase-name-input') Name
        br
        input#new-phase-name-input(name='name', type='text')
        br
        label(for='new-phase-parent-input') Parent
        br
        select#new-phase-parent-input(name='parent', type='text')
          option(value='') null
          each phase in phases
            option(value=phase._id)=phase.name
        br
        label(for='new-phase-description-textarea') Description
        br
        textarea(name='description')
        br
        button(type='submit') Submit
  
  if options && (options.buildingEnabled == null || options.buildingEnabled)
    .search-result
      h3 New Building
      form(name='new-building', method='post', action='/api/jobs/#{job._id}/buildings')
        label(for='new-building-name-input') Name
        br
        input#new-building-name-input(name='name', type='text')
        br
        label(for='new-building-parent-input') Parent
        br
        select#new-building-parent-input(name='parent', type='text')
          option(value='') null
          each building in buildings
            option(value=building._id)=building.name
        br
        label(for='new-building-description-textarea') Description
        br
        textarea(name='description')
        br
        button(type='submit') Submit
  
  if options && (options.componentEnabled == null || options.componentEnabled)
    .search-result
      h3 New Component
      form(name='new-component', method='post', action='/api/jobs/#{job._id}/components')
        label(for='new-component-name-input') Name
        br
        input#new-component-name-input(name='name', type='text')
        br
        label(for='new-component-phase-input') Phase
        br
        select#new-component-phase-input(name='phase', type='text')
          option(value='') null
          each phase in phases
            option(value=phase._id)=phase.name
        br
        label(for='new-component-building-input') Building
        br
        select#new-component-building-input(name='building', type='text')
          option(value='') null
          each building in buildings
            option(value=building._id)=building.name
        br
  
        label(for='new-component-parent-input') Parent
        br
        select#new-component-parent-input(name='parent', type='text')
          option(value='') null
          each component in components
            option(value=component._id)=component.name
        br
        label(for='new-component-description-textarea') Description
        br
        textarea(name='description')
        br
        button(type='submit') Submit

  template
    .search-box#search-results
      .search-result(rv-each-result='model:results', rv-data-type='result.type', rv-data-id='result:_id', rv-draggable='result.type | isPart', tabindex=2)
        span(rv-class='result.type | icon_class')
        | { result:name | or result:description }
        div.filter(rv-if='result.type | isNotPart') Add filter
      .search-result(rv-if='view.treeView', draggable='true', tabindex=2, data-type='phase')
        h3 New Phase
      .search-result(rv-if='view.treeView', draggable='true', tabindex=2, data-type='building')
        h3 New Building
      .search-result(rv-if='view.treeView', draggable='true', tabindex=2, data-type='component')
        h3 New Component
